name: Lint

on:
  pull_request:
  workflow_dispatch:

permissions:
  checks: write
  contents: read

jobs:
  run-linters:
    name: Format and Lint Code
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install clang-tidy and clang-format
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: clang-tidy-20 clang-format-20
          execute_install_scripts: true

      - name: Set up CMake and Ninja
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: latest
          ninjaVersion: latest

      - name: Run Clang-Format
        run: |
          echo "Running clang-format..."
          echo $(which clang-format)
          echo "---------------------------------------------------"
          ./automated/clang-format.sh
        shell: bash

      - name: Run Clang-Tidy
        run: |
          echo "Running clang-tidy..."
          echo $(which clang-tidy)
          echo "---------------------------------------------------"
          ./automated/clang-tidy.sh
        shell: bash
